<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<div class="container">
    <form class="form-singin" action="/auth/login">
        <h2 class="singing-header">Login</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-controll" placeholder="Username" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-controll" placeholder="Password" required>
        </p>
        <button class="btn" type="submit">Sing in</button>

    </form>

</div>

</body>
</html>
